/* Color Palette */
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
	content: '';
	display: table;
}

.clearfix::after {
	clear: both;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #425262;
	background: #f0f0f0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}

a {
	text-decoration: none;
	color: #929cac;
	outline: none;
}

a:hover {
	color: #425262;
	outline: none;
}
button[title*="Close"] {
	color:#fff;
	background: #7f2427;
}
button[title*="Show"] {
	color:#fff;
	background: #0070cd;
}
button:hover {
	color:#fff;
	background: #425262;
}

a:focus,
button:focus {
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 50%;
	height: 50%;
	margin: 0 auto;
	fill: currentColor;
}

.container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
}

/* Header */

.header {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	padding: 1.5em 1em;
	text-align: center;
}

.header h1 {
	font-size: 1.15em;
	font-weight: normal;
	line-height: 1;
	margin: 0 0 0 1em;
}

.main {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: calc(100vw - 300px);
	height: 100vh;
}

.mall {
	position: relative;
	width: 100vw;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.mall.mall--content-open {
	-webkit-transform: translate3d(0,-25%,0) scale3d(0.8,0.8,1);
	transform: translate3d(0,-25%,0) scale3d(0.8,0.8,1);
}

.surroundings,
.levels {
	position: absolute;
	top: calc(100% / 4);
	left: calc(100% / 4);
	-webkit-transform: rotateX(60deg) rotateZ(-40deg);
	transform: rotateX(60deg) rotateZ(-40deg);
}

.surroundings {
	width: 150vmin;
	margin-left: calc(-150vmin / 3);
	pointer-events: none;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.surroundings__map {
	opacity: 0.3;
	max-width: 100%;
	display: block;
}

.surroundings--hidden {
	opacity: 0;
}

.levels {
	width: 80vmin;
	height: auto;
	margin-left: calc(-80vmin / 4);
	margin-top: calc(80vmin / 3);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.level {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	pointer-events: auto;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.level::after {
	font-size: 2vmin;
	line-height: 0;
	position: absolute;
	z-index: 100;
	top: -2vmin;
	left: -2vmin;
	white-space: nowrap;
	color: #7d7d86;
	-webkit-transform: rotateZ(40deg) rotateX(-60deg) translateZ(0vmin);
	transform: rotateZ(40deg) rotateX(-60deg) translateZ(0vmin);
	-webkit-transition: -webkit-transform 1s, color 0.3s;
	transition: transform 1s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.level:hover::after,
.level--current::after {
	color: #425262;
}

.level--current::after {
	-webkit-transform: rotateX(0deg) rotateZ(0deg) translateX(2.5vmin) translateY(-1vmin) translateZ(0vmin) scale(1.5) rotate3d(0, 0, 0, 0deg);
	transform: rotateX(0deg) rotateZ(0deg) translateX(2.5vmin) translateY(-1vmin) translateZ(0vmin) scale(1.5) rotate3d(0, 0, 0, 0deg);
}

.level--1::after,
.level--2::after,
.level--3::after,
.level--4::after {
	content: attr(data-level);
}

.level--1::before,
.level--2::before,
.level--3::before,
.level--4::before {
	display: block;
	position: absolute;
	top: .5vmin;
	left:.5vmin;
	width: inherit;
	height: inherit;
	content: "";
	z-index: -1;
	transition: all 1s ease-in-out;
}
.level--1::before {
	background: rgba(0, 0, 0, .1);
	box-shadow: 0 .2vmin .2vmin rgba(0, 0, 0, .1);
}
.level--2::before {
	background: rgba(0, 0, 0, .12);
	box-shadow: 0 .5vmin .5vmin rgba(0, 0, 0, .12);
}
.level--3::before {
	background: rgba(0, 0, 0, .14);
	box-shadow: 0 1vmin 1vmin rgba(0, 0, 0, .14);
}
.level--4::before {
	background: rgba(0, 0, 0, .16);
	box-shadow: 0 1vmin 1vmin rgba(0, 0, 0, .16);
}
.level.level--current::before {
	width: 99%;
	height: 96%;
	box-shadow: 0 3vmin 6vmin rgba(0, 0, 0, .3);
}

.level:not(:first-child) {
	position: absolute;
	top: 0;
	left: 0;
}

.level--2 {
	-webkit-transform: translateZ(10vmin);
	transform: translateZ(10vmin);
}

.level--3 {
	-webkit-transform: translateZ(20vmin);
	transform: translateZ(20vmin);
}

.level--4 {
	-webkit-transform: translateZ(30vmin);
	transform: translateZ(30vmin);
}


/* Selection transitions */

.levels--selected-1 .level:not(.level--1),
.levels--selected-2 .level:not(.level--2),
.levels--selected-3 .level:not(.level--3),
.levels--selected-4 .level:not(.level--4) {
	opacity: 0;
	/* fade out all others */
}

/* Other levels */

.level--current ~ .level {
	-webkit-transform: translateZ(60vmin) rotate3d(1, 0, 1, 40deg);
	transform: translateZ(60vmin) rotate3d(1, 0, 1, 40deg);
}

.levels--selected-2 .level--1,
.levels--selected-3 .level--1,
.levels--selected-4 .level--1,
.levels--selected-3 .level--2,
.levels--selected-4 .level--2,
.levels--selected-4 .level--3 {
	-webkit-transform: translateZ(-60vmin) rotate3d(-1, 0, 1, 40deg);
	transform: translateZ(-60vmin) rotate3d(-1, 0, 1, 40deg);
}

/* Delays */
/* 1 */

.levels--selected-1 .level--3,
.levels--selected-2 .level--3,
.levels--selected-3 .level--2,
.levels--selected-4 .level--2 {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.levels--selected-1 .level--2,
.levels--selected-2 .level--current,
.levels--selected-2 .level--current::after,
.levels--selected-3 .level--current,
.levels--selected-3 .level--current::after,
.levels--selected-4 .level--3 {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.levels--selected-1 .level--current,
.levels--selected-1 .level--current::after,
.levels--selected-4 .level--current,
.levels--selected-4 .level--current::after {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

/* Current level */
.level.level--current {
	-webkit-transform: rotateX(0deg) rotateZ(40deg) translateZ(10vmin) rotate3d(-1, 0, 0, 60deg);
	transform: rotateX(0deg) rotateZ(40deg) translateZ(10vmin) rotate3d(-1, 0, 0, 60deg);
	cursor: default;
}

/* Navigation classes */
.levels--open .level,
.levels--open .level::after {
	-webkit-transition: -webkit-transform 1s, opacity 1s;
	transition: transform 1s, opacity 1s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.levels--open .level.level--current {
	opacity: 1;
}

.levels--open .level.level--moveOutUp,
.levels--open .level.level--moveOutDown {
	opacity: 0;
}

.levels--open .level.level--moveOutUp {
	-webkit-transform: translateZ(90vmin);
	transform: translateZ(90vmin);
}

.levels--open .level.level--moveOutDown {
	-webkit-transform: translateZ(-60vmin);
	transform: translateZ(-60vmin);
}


/* Level nav */
.mallnav {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
}

.mallnav--hidden {
	pointer-events: none;
	opacity: 0;
}

/* Box button */
.boxbutton {
	font-size: 25px;
	display: block;
	width: 60px;
	height: 60px;
	margin: 0;
	padding: 0;
	color: #fff;
	border: 0;
	background: #98a3ad;
}

.boxbutton--dark {
	background: #7a8996;
}

.boxbutton--darker {
	background: #98a3ad;
}

.boxbutton--alt {
	background: #425262;
}

.boxbutton--disabled,
.boxbutton--disabled:focus,
.boxbutton--disabled:hover {
	cursor: default;
	pointer-events: none;
	opacity: 0.2;
}

/* Level map */

.map__ground {
	fill: #e2e4e7;
}

.map__outline {
	-webkit-transition: fill 0.3s;
	transition: fill 0.3s;
	fill: #929cac;
}

.level:hover .map__outline,
.level--current .map__outline {
	fill: #425262;
}

.level--current .map__space,
.level--current .map__office {
	/*fill-opacity: 1;*/
}

 .map__space--selected {
 	fill: #A4A4A4;
 }

/* Content */
.content {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 50%;
}

.content a {
	text-decoration: underline
}

.content__item {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 3em;
	text-align: center;
	background: #f0f0f0;
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.content--open .content__item {
	-webkit-transition: none;
	transition: none;
}

.content__item--current {
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
	box-shadow: 0 -3vmin 10vmin rgba(0,0,0,.1);
}

.content__item-title {
	font-size: 1.85em;
	margin: 0;
	padding: 0;
	pointer-events: none;
	font-weight: normal;
	opacity: 0;
	-webkit-transform: translate3d(0,-3em,0) translate3d(0,-100%,0);
	transform: translate3d(0,-3em,0) translate3d(0,-100%,0);
}

.content__item-title > span {
	margin-right: 10px;
	padding: 1px 15px;
	position: relative;
	top: -1px;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.content__item--hover .content__item-title {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.content__item--current .content__item-title {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.content__item-details {
	opacity: 0;
	margin: 0 auto;
	max-width: 50vmax;
}

.content__item--current .content__item-details {
	opacity: 1;
}

.content__meta {
	margin: 0;
	font-size: 1em;
	line-height: 1.5;
}

.content__meta-item {
	display: inline-block;
	padding: 0 0.25em;
}

.content__meta .icon {
	display: inline-block;
	vertical-align: middle;
}

.content__desc {
	text-align: left;
	font-size: 1em;
	line-height: 1.6;
	margin: 3vmin 0 0 0;
	list-style: none;
}

.content__desc li:empty {
	display: none;
}

.content__desc li:before {
	content: attr(data-attr);
	font-weight: 600;
	padding-right: 10px;
}

.content__button {
	position: absolute;
	top: -100%;
	right: 0;
	z-index: 1;
	-webkit-transition: opacity 0.3s 0.7s;
	transition: opacity 0.3s 0.7s;
}

.content__button--hidden {
	pointer-events: none;
	opacity: 0;
	-webkit-transition: none;
	transition: none;
}

/* Spaces list (sidebar) */

.spaces-list {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
	padding: 105px 0 5px;
	background: #fff;
	box-shadow: -3px 0 5px rgba(0,0,0,.05);
}

.search {
	position: absolute;
	width: 100%;
	top: 0;
}

.search__input {
	width: 100%;
	font-size: 1.25em;
	padding: 10px 25px;
	height: 60px;
	color: #fff;
	border: 0;
	background: #0070cd;
	border-radius: 0;
}
.search__input::-moz-placeholder {
	color: #fff;
	opacity: .7;
}
.search__input::-ms-input-placeholder {
	color: #fff;
	opacity: .7;
}
.search__input::-webkit-input-placeholder {
	color: #fff;
	opacity: .7;
}

.search__input:focus {
	outline: none;
}
.search__input:focus::-moz-placeholder {
	opacity: 0;
}
.search__input:focus::-ms-input-placeholder {
	opacity: 0;
}
.search__input:focus::-webkit-input-placeholder {
	opacity: 0;
}

.label {
	display: block;
	position: absolute;
	top: 70px;
	width: 100%;
	padding-bottom: 10px;
	box-shadow:0 2px 4px rgba(0,0,0,.05), 0 5px 7px rgba(0,0,0,.05);
}

.label__checkbox {
	height: 0;
	width: 0;
	visibility: hidden;
}
.label__checkbox:after {
	content: attr(title);
	visibility: visible;
	position: absolute;
	left: 25px;
	top: 6px;
	font-size: .8em;
	color: #98a3ad;
}

.label__text {
	display: block;
	position: relative;
	float: right;
	right: 8px;
	cursor: pointer;
	width: 50px;
	height: 25px;
	background: #98a3ad;
	border-radius: 25px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none
}

.label__text:after {
	content: ' ';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 21px;
	height: 21px;
	background: #fff;
	border-radius: 50%;
	transition: 0.3s;
}

.label__checkbox:checked + label {
	background: #b6db77;
}

.label__checkbox:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}


.list {
	margin: 0;
	padding: 25px;
	list-style: none;
	height: 100%;
	overflow-x: auto;
}

.list__item {
	font-size: 1.05em;
	line-height: 1;
	position: relative;
	display: block;
}

.list__item:first-child {
/* 	margin-top: 2em; */
}

.grouped-by-category [data-category='0']:first-child,
.grouped-by-category :not([data-category='0']) + [data-category='0'],
.grouped-by-category [data-category='1']:first-child,
.grouped-by-category :not([data-category='1']) + [data-category='1'],
.grouped-by-category [data-category='2']:first-child,
.grouped-by-category :not([data-category='2']) + [data-category='2'],
.grouped-by-category [data-category='3']:first-child,
.grouped-by-category :not([data-category='3']) + [data-category='3'],
.grouped-by-category [data-category='4']:first-child,
.grouped-by-category :not([data-category='4']) + [data-category='4'],
.grouped-by-category [data-category='5']:first-child,
.grouped-by-category :not([data-category='5']) + [data-category='5'] {
	margin-top: 4em;
}

.grouped-by-category [data-category='0']:first-child::before,
.grouped-by-category :not([data-category='0']) + [data-category='0']::before,
.grouped-by-category [data-category='1']:first-child::before,
.grouped-by-category :not([data-category='1']) + [data-category='1']::before,
.grouped-by-category [data-category='2']:first-child::before,
.grouped-by-category :not([data-category='2']) + [data-category='2']::before,
.grouped-by-category [data-category='3']:first-child::before,
.grouped-by-category :not([data-category='3']) + [data-category='3']::before,
.grouped-by-category [data-category='4']:first-child::before,
.grouped-by-category :not([data-category='4']) + [data-category='4']::before,
.grouped-by-category [data-category='5']:first-child::before,
.grouped-by-category :not([data-category='5']) + [data-category='5']::before {
	font-size: 1.25em;
	position: absolute;
	top: -1.75em;
	left: 0;
	color: #c7c7c9;
}

.list__item::after {
	content: 'L' attr(data-level) '';
	font-size: 0.65em;
	line-height: 3;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 0.5em;
	pointer-events: none;
	color: #c7c7c9;
}

.list__link {
	font-size: 0.85em;
	display: block;
	padding: 0.5em 0.5em 0.5em 0;
}
.list__link span {
	margin-right: 10px;
	font-size: 0.9em;
	padding: 1px 3px;
	position: relative;
	top: -1px;
	color:#425262;
	background: #f0f0f0;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.list__link i,
.list__item[data-category="0"] .list__link span {
	display: none
}

.list__link:hover,
.list__item--active .list__link {
	color: #425262;
}
.list__item--active .list__link span {
	background:#425262;
	color: #f0f0f0;
	text-decoration: none !important;
}


/* Pins */
.level__pins {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	pointer-events: none;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.level__pins--active {
	pointer-events: auto;
}

.pin {
	position: absolute;
	display: none;
	width: 2.5vmin;
	height: 4.25vmin;
	margin: -3vmin 0 0 -1.5vmin; /* let the bottom tip be the reference point for individual coordinates */
	-webkit-transform: rotateX(0deg) rotateZ(0deg) translateZ(0vmin) rotate3d(0, 0, 0, 0deg);
	transform: rotateX(0deg) rotateZ(0deg) translateZ(0vmin) rotate3d(0, 0, 0, 0deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.pin[data-category] {
	fill-opacity: 1;
}
.pin[data-category="1"],
.pin[data-category="4"],
.pin[data-category="5"] {
	display: block;
}
.pin__icon {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.level__pins--active .pin__icon {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.pin--active {
	display: block;
	opacity: 1 !important;
}
.pin .icon--pin {
	stroke: #e2e4e7;
	stroke-width: 1em;
}
.pin:hover .icon--pin,
.pin--active .icon--pin {
	stroke: #425262;
	stroke-width: 1.5em;
}
.pin--active:after {
	content: attr(data-space);
	font-size: 1.2vmin;
	font-weight: 600;
	color: #425262;
	position: absolute;
	top:-50%;
	text-align: center;
	min-width: 1%;
	background: #fff;
	padding: 1px 4px;
	border-radius: 3px;
	-webkit-animation: pulse2 1.15s infinite ease-in-out;
	animation: pulse2 1.15s infinite ease-in-out
}

@-webkit-keyframes pulse {
	0% { transform: scale(1) translate3d(0,0,0); }
	50% { transform: scale(1.2) translate3d(0,-1.1vmin,0); }
	100% { transform: scale(1) translate3d(0,0,0); }
}
@-webkit-keyframes pulse2 {
	0% { transform: scale(1.2) translate3d(0,0,0); box-shadow: 0 4px 5px rgba(0, 0, 0, .3); }
	50% { transform: scale(1.4) translate3d(0,-1.1vmin,0); box-shadow: 0 10px 7px rgba(0, 0, 0, .2); }
	100% { transform: scale(1.2) translate3d(0,0,0); box-shadow: 0 4px 5px rgba(0, 0, 0, .3); }
}


.pin--active .icon--pin {
	-webkit-animation: pulse 1.15s infinite ease-in-out;
	animation: pulse 1.15s infinite ease-in-out
}


.icon--pin {
	width: 100%;
	height: 100%;
}

.icon--logo {
	position: absolute;
	top: 11%;
	left: 25%;
	width: 50%;
	height: 50%;
	fill: white;
	fill-opacity: 0.6;
	-webkit-transition: fill-opacity 0.3s;
	transition: fill-opacity 0.3s;
}

.pin--active .icon--logo,
.pin:hover .icon--logo {
	fill-opacity: 1;
}

/* Color Categories */
[data-category='0'],
[data-category='2'] {
	fill: #B8B8BD;
	fill-opacity: 0.6;
}
[data-category='1'] {
	fill: #85C0ED;
	fill-opacity: 0.6;
}
[data-category='3'] {
	fill: #9B9B9B;
	fill-opacity: 0.6;
}
[data-category='4'] {
	fill: #6AC065;
	fill-opacity: 0.6;
}
[data-category='5'] {
	fill: #8371A5;
	fill-opacity: 0.6;
}

.pin[data-category='0'] .icon--pin {
	fill: #B8B8BD;
}

.grouped-by-category [data-category='0']:first-child::before,
.grouped-by-category :not([data-category='0']) + [data-category='0']::before {
	content: 'People';
	color: #B8B8BD;
}

.pin[data-category='1'] .icon--pin {
	fill: #85C0ED;
}
.content__item[data-category='1'] .content__item-title {
	color: #85C0ED;
}
.grouped-by-category [data-category='1']:first-child::before,
.grouped-by-category :not([data-category='1']) + [data-category='1']::before {
	content: 'Meeting';
	color: #85C0ED;
}

.pin[data-category='2'] .icon--pin {
	fill: #B8B8BD;
}
.content__item[data-category='2'] .content__item-title {
	color: #B8B8BD;
}
.grouped-by-category [data-category='2']:first-child::before,
.grouped-by-category :not([data-category='2']) + [data-category='2']::before {
	content: 'Office';
	color: #B8B8BD;
}

.pin[data-category='3'] .icon--pin {
	fill: #9B9B9B;
}
.content__item[data-category='3'] .content__item-title {
	color: #9B9B9B;
}
.grouped-by-category [data-category='3']:first-child::before,
.grouped-by-category :not([data-category='3']) + [data-category='3']::before {
	content: 'Other';
	color: #9B9B9B;
}

.pin[data-category='4'] .icon--pin {
	fill: #6AC065;
}
.content__item[data-category='4'] .content__item-title {
	color: #6AC065;
}
.grouped-by-category [data-category='4']:first-child::before,
.grouped-by-category :not([data-category='4']) + [data-category='4']::before {
	content: 'Coffee Point';
	color: #6AC065;
}

.pin[data-category='5'] .icon--pin {
	fill: #8371A5;
}
.content__item[data-category='5'] .content__item-title {
	color: #8371A5;
}
.grouped-by-category [data-category='5']:first-child::before,
.grouped-by-category :not([data-category='5']) + [data-category='5']::before {
	content: 'WC';
	color: #8371A5;
}


/* Mobile compatability */
.open-search,
.close-search {
	display: none;
}

@media screen and (max-width: 1023px) and (min-width: 320px) {
	.main {
		width: 100vw;
	}
	.surroundings,
	.levels {
		top: calc(100vh / 4);
		left: calc(100vw / 3);
	}
	.mallnav {
		top: 50px;
	}
	.label{
		top:60px;
	}
	.boxbutton {
		width: 50px;
		height: 50px;	
	}
	.search__input {
		height: 50px;
	}
	.list {
		top: -10px;
		position: relative;
		padding-bottom: 8vh;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-overflow-scrolling: touch;
	}

	.spaces-list,
	.search {
		width: 100vw;
		right: 100%;
		left: auto;
	}
	.spaces-list--open,
	.spaces-list--open .search {
		right: 0;
	}
	.open-search,
	.close-search {
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		z-index: 1000;
	}
	.container {
		overflow: hidden;
	}
	.container--overflow {
		overflow: auto;
	}
	.content {
		position: fixed;
	}
	.content__item {
		overflow: auto;
		padding: 25px 50px 25px 25px;
	}
	.content__meta,
	.content__item-title,
	.content__meta-item,
	.content__desc {
		text-align: left;
	}
	.content__item-title,
	.content__meta-item,
	.content__desc {
		padding: 0 0 15px;
		margin: 0;
	}
	.content__item-title {
		font-size: 150%;
	}
	.content__item-details {
		max-width: none;
	}
}

@media screen and (min-width: 320px) and (orientation:landscape) {
	.surroundings,
	.levels {
		top: 1vh;
		left: calc(100vw / 2.5);
	}

}

@media only screen and (min-width: 1025px)  {
	  .surroundings,
	  .levels {
		top: 1vh;
		left: calc(100vw / 5);
	}
  }


/*  TEMP */
.test {
	display: none;
	position: fixed;
	z-index: 999;
	font-size: 2vmin;
	bottom: 1vmin;
	left:1vmin;
	color:red;
	font-weight: 700;
}
